<ion-header>
  <ion-toolbar>
    <ion-title>
      LavApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
  <ion-row>
    
      <ion-col size="6">

        <img  src="http://lorempixel.com/400/200">

      </ion-col>

      <ion-col size="6">

        <ion-card-content>
         <h5 id="text"> Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.</h5>
        </ion-card-content>
    
    </ion-col>
  </ion-row>
</ion-card>
</ion-content>